

.form {
  display: flex;
  /* border-top: 2px solid #d3d3d3; */
}

.sendButton {
  margin-left:3rem ;
}

.input {
  
  border: none;
  border-radius: 25px;
  padding: 1.2rem;
  width: 95%;
  font-size: 1.2rem;
 
  height: 20px;
  vertical-align: middle;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

