

.bottombar {
   
    width: 100%;
    /* backgroundColor: #d65555; */
  }


  .button {
    background-color: #E8E8E8; /* Green */
    border: none;
   
    padding: 20px;
   
    display: inline-block;
    ;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button5 {border-radius: 50%;}
  